{% extends 'newsletters/base.html' %}

{% block content %}
<h2>Клиенты</h2>
<a href="{% url 'newsletters:recipient_create' %}" class="btn btn-info">Добавить клиента</a>
<table class="table">
    <thead>
        <tr>
            <th>ФИО</th>
            <th>Комментарий</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for recipient in object_list %}
        <tr>
            <td>{{ recipient.full_name }}</td>
            <td>{{ recipient.message }}</td>
            <td>
                <a href="{% url 'newsletters:recipient_detail' recipient.pk %}" class="btn btn-info">Просмотр</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}